{# Title: Blog Entries #}
<h1>Blog Entries</h1>

<h2>Add a Blog</h2>
<img src="{{ resourceUrl("help/images/add_a_blog.gif") }}" alt="add a blog">

<h2>Edit a Blog</h2>
<img src="{{ resourceUrl("help/images/edit_a_blog.gif") }}" alt="edit a blog">

<h2>Delete a Blog</h2>
<img src="{{ resourceUrl("help/images/delete_a_blog.gif") }}" alt="delete a blog">

<h2>Delete Blogs in Group</h2>
<img src="{{ resourceUrl("help/images/delete_blogs.gif") }}" alt="delete blogs">

<h2>Disable and Enable a Blog</h2>
<p>Disable a blog will not remove the blog from database, but just makes it invisible from the live site. You can easily bring it back by enable it again. You can also set post and expiry dates for the blog in advance. The blog will be enabled on the post date and disabled after expiry date.</p>
<img src="{{ resourceUrl("help/images/disable_a_blog.gif") }}" alt="disable a blog">