{# Title: Events #}
<h1>Events</h1>
<h2>How to Edit</h2>
<p><a href="/admin/entries/homepage/2-homepage">Here is the link</a> you can edit the section and click the <b>Events</b> tab.</p>
<img src="{{ resourceUrl("help/images/events.png") }}" alt="events tab">
<h2>Event Management</h2>
<p>To manage single event, please go to <a href="/admin/entries/events">event entries</a> and follow the tutorials below</p>
<h3>Add an Event</h3>
<img src="{{ resourceUrl("help/images/add an event.gif") }}" alt="add an event">
<h3>Edit an Event</h3>
<img src="{{ resourceUrl("help/images/edit an event.gif") }}" alt="edit an event">
<h3>Delete an Event</h3>
<img src="{{ resourceUrl("help/images/delete an event.gif") }}" alt="delete an event">
<h3>Delete Events in Group</h3>
<img src="{{ resourceUrl("help/images/delete events.gif") }}" alt="delete events">
<h3>Disable and Enable an Event</h3>
<p>Disable an event will not remove the event from database, but just makes it invisible from the live site. You can easily bring it back by enable it again. </p>
<img src="{{ resourceUrl("help/images/disable an event.gif") }}" alt="disable an event">
<p>You can also set post and expiry dates for the event in advance. The event will be enabled on the post date and disabled after expiry date.</p>
<img src="{{ resourceUrl("help/images/set event post and expiry date.gif") }}" alt="set event post and expiry date">