{% extends craft.instaBlog.settings.layout|length ? craft.instaBlog.settings.layout : 'blog/_instablog-layout' %}

{% set params = { section: 'instaBlog' } %}
{% set next = entry.getNext(params) %}
{% set prev = entry.getPrev(params) %}

{% block content %}
  <section id="instablog" class="blog-entry">
  <div class="wrap">
      <article itemscope itemtype="http://schema.org/Article">
        <header>
          <h1 itemprop="name">{{ entry.title }}</h1>
          <h3>
            {% if entry.author.fullName %}
              <span itemprop="author">
              <a href="/blog/author/{{ entry.author.username }}" rel="author">{{ entry.author.fullName }}</a>
              </span>
            {% endif %}
              <span itemprop="datePublished">{{ entry.postDate.format('F d, Y') }}</span>       
              <span itemprop="articleSection">
              {% for category in entry.instaBlogCategories %}
                <a href="/blog/category/{{ category.slug }}">{{ category }}</a>
                {% if not loop.last %}, {% endif %}
                {% endfor %}
              </span>  
            </span>
          </h3>
        </header>
        
        <div class="grid">
          <div class="col col-3-of-4 col-m-3-of-4 blog-left">
            <div itemprop="articleBody">
              {{ entry.instaBlogBody }}
            </div>
          </div>
          <div class="col col-1-of-4 col-m-1-of-4 blog-right">
            {% if entry.instaBlogImage|length %}
              <img src="{{ entry.instaBlogImage|first.url }}" alt="entry.instaBlogImage|first">
            {% endif %}
            <div class="tags">
              <h5>Tags: </h5> 
              {% for tag in entry.instaBlogTags %}
              <a href="/blog/tag/{{ tag.name|split(' ')|join('-')|lower }}">{{ tag.name }}</a>
              {% if not loop.last %}, {% endif %}
              {% endfor %}
            </div>
            <div class="shares">
              <h5>Share This Post</h5>
              {% include 'blog/_share.twig' %}
            </div>
          </div>
          </div>
        </article>
    </div>
  </section>
{% endblock %}

