{% set queryString = query is defined ? '?q=' ~ query : '' %}
  {% if entries|length %}
    {% for blog in entries %}
      <article itemtype="http://schema.org/Article" class="brief">
        <header>
          <h4><a href="/{{ blog.uri }}" itemprop="name">{{ blog.title }}</a></h4>
        </header>
        <div>
          <span itemprop="author">{{ blog.author.fullName }}</span>
        </div>
        <div itemprop="articleBody">
          <h5 itemprop="datePublished">{{ blog.postDate.format('F d, Y') }}</h5>
          <p>{{ blog.instaBlogBody|striptags|truncate(240) }}</p>
        </div>
      </article>
    {% endfor %}

    <nav>
      {% if paginate.prevUrl %}
        <a href="{{ paginate.firstUrl ~ queryString }}">First</a>
        <a href="{{ paginate.prevUrl ~ queryString }}"><<</a>
      {% endif %}

      {% for page, url in paginate.getPrevUrls(5) %}
          <a href="{{ url ~ queryString }}">{{ page }}</a>
      {% endfor %}

      <span class="current">{{ paginate.currentPage }}</span>

      {% for page, url in paginate.getNextUrls(5) %}
          <a href="{{ url ~ queryString }}">{{ page }}</a>
      {% endfor %}

      {% if paginate.nextUrl %}
        <a href="{{ paginate.nextUrl ~ queryString }}">>></a>
        <a href="{{ paginate.lastUrl ~ queryString }}">Last</a>
      {% endif %}
    </nav>
  {% endif %}