{% set shareTitle = blog.title is defined ? blog.title : entry.title %}
{% set shareUrl = blog.url is defined ? blog.url : craft.request.url %}
{% set shareProtocol = craft.request.isSecure ? 'https://' : 'http://' %}
{% set shareDomain = 'http' in shareUrl ? '' : shareProtocol ~ craft.request.serverName %}
{% set shareLink = shareDomain ~ shareUrl %}


<p>
  <a class="fa icon-facebook fa-2" href="https://www.facebook.com/sharer/sharer.php?u={{shareLink}}"></a>
  <a class="fa icon-twitter fa-2" href="https://twitter.com/home?status={{shareLink}}"></a>
  <a class="fa icon-gplus fa-2" href="https://plus.google.com/share?url={{shareLink}}"></a>
  <a class="fa icon-mail fa-2" href="mailto:?subject={{shareTitle}}&body={{shareLink}}"></a>
</p>