{% extends craft.instaBlog.settings.layout|length ? craft.instaBlog.settings.layout : 'blog/_instablog-layout' %}
{% set entries = craft.entries.section('instaBlog') %}
{% set total = entries|length %}
{% block content %}
<section id="instablog">
  <div class="wrap">
    <header>
      <h1>{{ blog.blogHeader }}</h1>
      <h3>{{ blog.blogDescription }}</h3>  
    </header>
    <hr>
    {% if total %}
      {% set colNum = (total/3)|round(0, 'ceil') %}
      {{ colNum }}
      <div class="grid">
      {% for blog in entries %}
        <article itemtype="http://schema.org/Article">
          <header>
            {% if blog.instaBlogImage|length %}
              <img src="{{ blog.instaBlogImage|first.url }}" alt="blog.instaBlogImage|first">
            {% endif %}
            <h4><a href="/{{ blog.uri }}" itemprop="name">{{ blog.title }}</a></h4>
          </header>
          <div>
            <span itemprop="author">{{ blog.author.fullName }}</span>
          </div>
          <div itemprop="articleBody">
            <span itemprop="datePublished">{{ blog.postDate.format('F d, Y') }}</span> - {{ blog.instaBlogBody|striptags|truncate(240) }}
            <a class="more" href="/{{ blog.uri }}">Read More</a>
          </div>
          <footer>
            {% include 'blog/_share.twig' %}
          </footer>
        </article>
      {% endfor %}
      </div>
    {% endif %}
  </div>
</section>
{% endblock %}
